<div class="site-section bg-dark block-13">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
        <h2 class="mb-5">Love By Our Listeners</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque deserunt officia, error reiciendis ab quod?</p>
      </div>
    </div>

    <!-- You can use owl-carousel selector to include its component -->
    <owl-carousel [options]="{items: 3, dots: false, navigation: false}" [items]="testimonials"   [carouselClasses]="['owl-theme', '', 'sliding']">
      <div class="text-center p-3 p-md-5 bg-white" *ngFor="let testimonial of testimonials;let i = index">
        <div class="mb-4">
          <img src="{{testimonial.img}}" alt="Image" class="w-50 mx-auto img-fluid rounded-circle">
        </div>
        <div class="text-black">
          <h3 class="font-weight-light h5">{{testimonial.name}}</h3>
          <p class="font-italic">{{testimonial.text}}</p>
        </div>
      </div>
    </owl-carousel>

  </div>
</div>
