<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
        <h2 class="mb-5">Upcoming Shows</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque deserunt
          officia, error reiciendis ab quod?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
        <a href="#" class="unit-9">
          <div class="image" style="background-image: url('assets/images/img_1.jpg');"></div>
          <div class="unit-9-content">
            <h2>This Is The Day</h2>
            <span>Friday 1:00pm &mdash; 2:30pm</span>
            <span>with Wendy Matos</span>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
        <a href="#" class="unit-9">
          <div class="image" style="background-image: url('assets/images/img_2.jpg');"></div>
          <div class="unit-9-content">
            <h2>Electro Party</h2>
            <span>Friday 1:00pm &mdash; 2:30pm</span>
            <span>with Gaby Tenda</span>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
        <a href="#" class="unit-9">
          <div class="image" style="background-image: url('assets/images/img_3.jpg');"></div>
          <div class="unit-9-content">
            <h2>Classic Hits</h2>
            <span>Friday 1:00pm &mdash; 2:30pm</span>
            <span>with James Tenda</span>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
        <a href="#" class="unit-9">
          <div class="image" style="background-image: url('assets/images/img_4.jpg');"></div>
          <div class="unit-9-content">
            <h2>Classic Songs</h2>
            <span>Friday 1:00pm &mdash; 2:30pm</span>
            <span>with Troy Peters</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
